{% if GITHUB_USER %}
    {% if GITHUB_REPO_COUNT is not defined %}
        {% set GITHUB_REPO_COUNT = 5 %}
    {% endif %}
    {% if GITHUB_SKIP_FORK is not defined %}
        {% set GITHUB_SKIP_FORK = "false" %}
    {% else %}
        {% if GITHUB_SKIP_FORK %}
            {% set GITHUB_SKIP_FORK = "true" %}
        {% else %}
            {% set GITHUB_SKIP_FORK = "false" %}
        {% endif %}
    {% endif %}
    <script type="text/javascript">
	$(document).ready(function(){
		$.getJSON("https://api.github.com/search/repositories?q=user:{{ GITHUB_USER }}+fork:false&sort=stars&order=desc", function(data){
			for(var i = 0; i < data.items.length ; i++){
				if (i > {{ GITHUB_REPO_COUNT }} - 1) {
					break;
				}
				var repo = data.items[i];
				var repo_tag = '<li class="list-group-item"><a href="'+repo.html_url+'">'+repo.name+'</a> <i class="fa fa-star" aria-hidden="true"></i> '+repo.stargazers_count+' <i class="fa fa-code-fork" aria-hidden="true"></i> '+repo.forks_count+'<p><small>'+(repo.description||'')+'</small></p></li>';
				$("#github").append(repo_tag);
			}
		});
	});
    </script>
{% endif %}


